.App-container {
	background-color: rgb(136, 117, 108);
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
.App-container section {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	/* position: sticky;
	position: -webkit-sticky; */
}
